<% content_for :title, t("tasks.edit.page_title") %>

<h1><%= t("tasks.edit.heading") %></h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to t("tasks.edit.show_link"), @task %> |
  <%= link_to t("tasks.edit.back_link"), tasks_path %>
</div>