@import "./variables";

body {
  background-color: white;
  color: black;
  font-family: Graphik Web, Helvetica Neue, Lucida Grande, sans-serif;

  a {
    color: black;
    text-decoration: none;
  }

  header {
    padding: 1.5rem 3rem;

    .header-inner-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 2.5rem;

      #logo-menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem 6rem;

        #header-logo {
          height: 1.5rem;
        }
      }

      nav {
        a {
          &:hover {
            border-bottom: 1px solid black;
            padding-bottom: 0.5rem;
          }
        }

        #header-menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2.5rem;
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      .header-cta-container-wrapper {
        display: grid;
        justify-content: center;
        align-items: center;

        .header-cta-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 1.5rem;
        }

        #login-icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 2.5rem;
          min-width: 2.5rem;
          background-color: $secondary-color;
          color: white;
        }
      }
      .logged-in-user-email {
        width: max-content;
        margin-left: auto;
      }
    }
  }

  #home-tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 94px);
    text-align: center;
    text-transform: uppercase;

    #home-tasks-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      background-color: $secondary-color;

      a {
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1;

        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
  }

  .filter-sorting-wrapper {
    display: grid;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #faebe7;

    .filter-sorting-heading {
      color: $secondary-color;
      font-weight: 600;
      font-size: 1.125rem;
      justify-self: center;
    }

    .sorting-links {
      padding: 2rem 0 1rem 0;

      a {
        background-color: $secondary-color;
        color: white;
        padding: 1rem;
      }

      .old-link::after {
        content: "↑";
        margin-left: 0.5rem;
      }

      .new-link::after {
        content: "↓";
        margin-left: 0.5rem;
      }
    }

    .filter-wrapper {
      .filter-heading {
        font-weight: 500;
      }

      .filter-items {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;

        .filter-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          input {
            width: fit-content;
          }

          label {
            margin: 0;
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .task-grid-wrapper {
    padding: 0 1rem;

    .tasks-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1.5rem;
      padding: 1rem 0;

      .task-card {
        grid-column: span 4 / span 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        padding: 1.5rem;
        background-color: white;
        box-shadow: 0 2px 5px #00000040;
        transition: all 0.3s ease;

        @media (max-width: 1200px) {
          grid-column: span 6 / span 6;
        }

        @media (max-width: 640px) {
          grid-column: span 12 / span 12;
        }

        &:hover {
          box-shadow: 0 2px 5px 3px #00000040;
          transform: scale(1.01);
        }

        .task-title {
          margin: 0;
          color: $secondary-color;
          text-transform: uppercase;
        }

        .task-company {
          margin: 0 0 0.5rem 0;
          font-size: 0.875rem;
          font-weight: 700;
        }

        .task-info-wrapper {
          display: grid;
          gap: 1rem;

          .task-city {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0;
          }

          .task-creator {
            font-size: 0.75rem;
            font-weight: 500;
            margin: 0;
          }

          .task-card-actions-wrapper {
            display: flex;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;

            .task-card-buttons {
              display: flex;
              gap: 1rem;

              .delete-task-btn {
                padding: 0;
                background-color: transparent;
                border: none;
                cursor: pointer;
              }
            }

            .read-more-link {
              font-weight: bold;
              color: $secondary-color;
              width: fit-content;

              &:hover {
                color: $secondary-color-light;
                text-decoration: underline;
                text-underline-offset: 0.2rem;
              }
            }
          }
        }
      }
    }
  }

  .create-tasks-form-container {
    form {
      display: grid;
      gap: 1.5rem;
      padding: 1rem;
      margin: 2rem 0;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 0.5rem 0.25rem;
      }

      textarea {
        width: 100%;
        padding: 0.5rem 0.25rem;
        min-height: 8rem;
      }
    }
  }

  .heading-form-container,
  .heading-form-container {
    display: grid;
    max-width: 892px;
    padding-block: 4.5rem;
    padding-inline: 0.875rem;
    margin-inline: auto;
    text-align: center;

    hgroup {
      display: grid;

      h1 {
        text-transform: uppercase;
        font-size: 2.625rem;
        text-align: center;
        padding: 0;
        margin: 0 0 1.5rem 0;
      }

      h2 {
        margin: 0;
        font-weight: 400;
        font-size: 1.25rem;
      }
    }

    form {
      padding: 3.625rem 0 0 0;

      .login-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-block: 1.625rem;

        a {
          margin: 0;
        }

        .action-title {
          width: -webkit-fill-available;
          margin: 0;
          font-size: 1.25rem;
        }
      }
    }

    .signup-actions,
    .send-password-actions {
      display: flex;
      justify-content: center;
    }
  }

  // reused classes
  form {
    display: grid;
    gap: 1.5rem;

    .field {
      text-align: start;
    }

    label {
      margin: 0 0 1rem 1.5rem;
      font-weight: 500;
      font-size: 1.125rem;
    }

    input:not([type="submit"]) {
      display: block;
      width: -webkit-fill-available;
      padding: 1rem 0.75rem 1rem 1.5rem;
      margin: 0.25rem 0;
      background-color: #fff;
      border: 1px solid #666666;
      border-radius: 50px;
      font-size: 1.125rem;
    }

    em {
      margin-left: 1.5rem;
      // display: block;
    }
  }

  .container {
    padding: 1rem 1rem 4.5rem 1rem;
  }

  .primary-heading {
    text-transform: uppercase;
    font-size: 2.625rem;
    text-align: center;
    padding: 3rem 0;
    margin: 0;
  }

  .secondary-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem 0;
    margin: 0;
  }

  hgroup {
    display: grid;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 2.625rem;
      text-align: center;
      padding: 0;
      margin: 0 0 1.5rem 0;
    }

    h2 {
      margin: 0;
      font-weight: 400;
      font-size: 1.25rem;
    }
  }

  .success-message {
    font-size: 20px;
    color: green;
    padding: 1rem;
  }

  .delete-svg,
  .edit-svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .primary-background {
    background-color: $primary-color;
  }

  .bold-link {
    font-weight: 700;
    color: $secondary-color;
    font-size: 1.125rem;
  }

  .primary-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.75rem 1.5rem;
    background-color: $secondary-color;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  .cta-vertical-wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }

  .cta-horizontal-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .task-wrapper {
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .task-categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .task-category-wrapper {
      min-width: fit-content;
      padding: 0.375rem 0.625rem;
      background-color: $quaternary-color;
      border-radius: 4px;
      color: white;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }

  .show-task-label {
    font-weight: 600;
  }

  // pagy nav
  .pagy {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 1.125em;
    gap: 1rem;

    a {
      padding: 0.5rem;
      font-weight: bold;
    }

    a.current {
      border-radius: 2rem;
      line-height: 1;
      color: #fff;
      text-align: center;
      width: 1rem;
      height: 1rem;
      background-color: $quaternary-color;
    }

    a[aria-disabled="true"]:not(.current) {
      display: none;
    }
  }
}
